@import "./settings.css";


.content {
    font-family: Montserrat;
    font-size: 16px;
    display: flex;
    display: flex;
    flex-shrink: 0;
    height: 620px;
    width: 100%;
    opacity: 0.8;
    background: url(../images/main_photo.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center center;


    .main_text {
        color: var(--white);
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 167px;
        margin-left: 831px;
        position: absolute;
        display: flex;


    }

    .button1 {

        width: 136px;
        height: 38px;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--green);
        color: var(--white);
        font-size: 16px;
        text-align: center;
        line-height: 38px;
        cursor: pointer;
        margin-top: 366px;
        position: absolute;
        border-width: 0;
        margin-left: 831px;

    }

    .button2 {

        width: 136px;
        height: 38px;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--green);
        color: var(--white);
        font-size: 16px;
        text-align: center;
        line-height: 38px;
        cursor: pointer;
        margin-top: 366px;
        position: absolute;
        border-width: 0;
        margin-left: 980px;
    }

    .button1:hover {
        background: #478e00;
    }
    
    .button2:hover {
        background: #478e00;
    }
}