@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

@font-face {
    font-family: "AnonymousPro";
    src: url("../fonts/AnonymousPro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-light-blue: #C6DAF8;
    --color-white: #FFFFFF;
    --color-blue: #306DC5;
    --color-blue-font: #041E43;
    --color-footer: #306DC5;

    --font-family-text: "AnonymousPro";
    --font-size-h1: 48px;
    --font-size-h2: 40px;
    --font-size-menu: 28px;
    --font_size-text: 24px;
    --font-size-footer: 20px;

    --width: 1440px;
    --height: 4000px;
    --width-menu: 800px;
    --height1: 115px;
    --width1: 1250px;
    --padding-left: 190px;
    --rot: rotate(270deg);
}