@import url(base.css);
@import url(reset.css);
@import url(content.css);
@import url(footer.css);
@import url(header.css);
@import url(menu.css);
@import url(infobar.css);

html {
    scroll-behavior: smooth;
}


body{
    margin:auto;
    max-width: var(--width);
}

.container {
width: var(--width) ;
height: var(--height);
background-color: var(--color-white) ;
color: var(--color-blue-font) ;
font-family: var(--font-family-text) ;
font-size: var( --font-size-text) ;
}