body{
    background-color: #cccdcd;
    font-size: 20px;
}

a{
    color :#3e1900;
}

.p_grey_bold{
    color: #3b3b3b;
    font-weight: bold;
}
.p_grey_italic{
    color: #3b3b3b;
    font-style: italic;
}
.blueColor{
    color: #2600ff;
}
.img_left{
    float: left;
}
.img_right{
    float:right;
    width: 30%;
}
