@import "./setting.css";

.content {
    grid-area: content;
    background-color: white;

    color: black;

}

.title {
    font-size: 30px;
    border: 5px solid var(--color-green);
    padding: 5px;
}

.about {
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.photo {
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 15px;
    margin-right: 20px;
    max-height: 100%;
    max-width: 100%;
}
.content::after {
    content: "";
    display: table;
    clear: both;
  }